html {
  background: url(images/abstract_smooth_wave_background_vector_grapihic_art_569579.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
